.mc-empresa {
    width: calc(100% - 0px);
    height: 70px;
    background-color: rgba(244,244,244,.98);
    border: solid 1px #c1c1c1;
    padding: 0 30px;
    color: #000;
    float: left;
}
a:focus, a:active, input, input:hover, input:focus, input:active, textarea, textarea:hover, textarea:focus, textarea:active {
    -moz-outline: none;
    outline: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.submit-btn {
    width: 160px;
    height: 54px;
    border: 0px;
    margin-left: -170px;
    font-size: 1.286em;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
    float: left;
    margin-top: 8px;
}

@media (max-width: 767px) {
.submit-btn {
    width: 160px;
    height: 54px;
    border: 0px;
    margin-left: initial;
    font-size: 1.286em;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
    float: initial;
    margin-top: 8px;
}
}

.submit-btn {
    background-color: #0189CD;
    border-radius: 5px;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
a:focus, a:active, input, input:hover, input:focus, input:active, textarea, textarea:hover, textarea:focus, textarea:active {
    -moz-outline: none;
    outline: none;
}

.dl-btn-wrapper{
    width:100%;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 3em;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
    font-size: 1.8rem;
}

ul.typeahead {
    width: 100%;
}

.btn-overlay {
    width: 100%;
    background: transparent;
    border: 1px solid #337ab7;
    color: #337ab7;
    padding: 15px;
    border-radius: 30px;
}


.modal-body {
    position: relative;
    padding: 0px 15px;
}

.modal-content {
    background-color: #f5f5f5;
}

.modal-footer {
     border-top: none;
}

.i-octuz{
    height: 50px;
    background-color: white;
    border: solid 1px #c1c1c1;
    padding: 0 30px;
    color: #000;
}

.login-btn{
    padding:30px;
}

.help_links ul.links_names li a.normal-text {
	text-transform: inherit !important;
}